<div class="col-12 col-md-10 mb-3 mx-auto">
    <div class="card">
        <div class="card-body">
            <!-- {% if blog_post.image %}
            <a href={{ blog_post.get_absolute_url }}>
                <img src="{{ blog_post.image.url }}" class="img-thumbnail float-end mx-auto" alt="Title image"
                    style="max-width: 200px; height: auto;">
            </a>
            {% endif %} -->
            <h5 class=" card-title">{{ blog_post.title }}</h5>
            <p class="card-text">
                <small class="text-muted">{{ blog_post.published_date }}</small>
                {% if truncate %}
                {{ blog_post.text|linebreaks|truncatewords:30 }}
                {% else %}
                {{ blog_post.text|linebreaks }}
                {% endif %}
            </p>
            {% if not detail %}
            <a href={{ blog_post.get_absolute_url }}>View</a>
            {% endif %}
        </div>
    </div>
</div>