<!DOCTYPE html>
<html>
    <head>
        <title>Django Boys</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Boys Blog</a></h1>
        </div>

        <div>
            <p>published: 14.10.2020, 11:46</p>
            <h2><a href="">My first post</a></h2>
            <p>
                Hey there!
                Welcome to my first blog on my own django web application
            </p>
        </div>

        <div>
            <p>published: 14.10.2020, 11:46</p>
            <h2><a href="">My second post</a></h2>
            <p>
                Hey everyone!
                Will be adding more content to this site.
            </p>
        </div>
    </body>
</html>